:root {
  --palette-white-main: #fff;
  --palette-white-alpha05: hsla(0, 0%, 100%, 0.0196078431372549);
  --palette-white-alpha10: hsla(0, 0%, 100%, 0.06274509803921569);
  --palette-white-alpha20: hsla(0, 0%, 100%, 0.12549019607843137);
  --palette-white-alpha50: hsla(0, 0%, 100%, 0.3137254901960784);
  --palette-white-alpha70: hsla(0, 0%, 100%, 0.6901960784313725);
  --palette-white-alpha80: hsla(0, 0%, 100%, 0.7529411764705882);
  --palette-white-alpha90: hsla(0, 0%, 100%, 0.8784313725490196);
  --palette-black-main: #000;
  --palette-black-alpha05: rgba(0, 0, 0, 0.0196078431372549);
  --palette-black-alpha10: rgba(0, 0, 0, 0.06274509803921569);
  --palette-black-alpha20: rgba(0, 0, 0, 0.12549019607843137);
  --palette-black-alpha50: rgba(0, 0, 0, 0.3137254901960784);
  --palette-black-alpha90: rgba(0, 0, 0, 0.8784313725490196);
  --palette-gray-main: #818898;
  --palette-gray-alpha90: rgba(18, 25, 39, 0.8784313725490196);
  --palette-gray-alpha20: rgba(240, 242, 245, 0.8156862745098039);
  --palette-gray-alpha40: rgba(0, 0, 0, 0.4);
  --palette-gray-10: #fbfcfe;
  --palette-gray-20: #f0f2f5;
  --palette-gray-30: #e6e9f0;
  --palette-gray-40: #c7ccd6;
  --palette-gray-50: #abb1bf;
  --palette-gray-60: #818898;
  --palette-gray-70: #3f475a;
  --palette-gray-80: #2d3446;
  --palette-gray-90: #1e2433;
  --palette-gray-95: #161d2b;
  --palette-gray-100: #101623;
  --palette-blue-main: #3067f0;
  --palette-blue-alpha30: rgba(48, 103, 240, 0.18823529411764706);
  --palette-blue-10: #ebf0fd;
  --palette-blue-20: #dbe4fc;
  --palette-blue-30: #baccfa;
  --palette-blue-40: #9ab5f7;
  --palette-blue-50: #4e7df2;
  --palette-blue-60: #3067f0;
  --palette-blue-70: #2b5ad1;
  --palette-blue-80: #264eb2;
  --palette-blue-90: #224094;
  --palette-blue-100: #1a2c61;
  --palette-yellow-main: #eac808;
  --palette-yellow-alpha10: rgba(234, 200, 8, 0.08235294117647059);
  --palette-yellow-alpha30: rgba(234, 200, 8, 0.18823529411764706);
  --palette-yellow-10: #faf6cf;
  --palette-yellow-20: #f7e379;
  --palette-yellow-30: #faed9b;
  --palette-yellow-40: #faea87;
  --palette-yellow-50: #fae460;
  --palette-yellow-60: #f9de38;
  --palette-yellow-70: #cab234;
  --palette-yellow-80: #54341f;
  --palette-yellow-90: #6d5f2b;
  --palette-yellow-100: #4a4228;
  --palette-orange-main: #e36a17;
  --palette-orange-10: #fbdecb;
  --palette-orange-20: #f6c8a9;
  --palette-orange-30: #f2b78e;
  --palette-orange-40: #ee9a60;
  --palette-orange-50: #e68039;
  --palette-orange-60: #e36a17;
  --palette-orange-70: #b95a19;
  --palette-orange-80: #8f4c1c;
  --palette-orange-90: #643b1e;
  --palette-orange-100: #452d20;
  --palette-green-main: #55bd6c;
  --palette-green-alpha10: rgba(85, 189, 108, 0.08235294117647059);
  --palette-green-alpha20: rgba(85, 189, 108, 0.12549019607843137);
  --palette-green-10: #daefe1;
  --palette-green-20: #b9e3c4;
  --palette-green-30: #8fd39f;
  --palette-green-40: #76ca89;
  --palette-green-50: #66c37b;
  --palette-green-60: #55bd6c;
  --palette-green-70: #479c5d;
  --palette-green-80: #397a4f;
  --palette-green-90: #2c5940;
  --palette-green-100: #1e3732;
  --palette-red-main: #f44336;
  --palette-red-alpha10: rgba(244, 67, 54, 0.06274509803921569);
  --palette-red-alpha20: rgba(244, 67, 54, 0.12549019607843137);
  --palette-red-10: #fae9ea;
  --palette-red-20: #fad7d6;
  --palette-red-30: #f8b2ae;
  --palette-red-40: #f78d86;
  --palette-red-50: #f6685e;
  --palette-red-60: #f44336;
  --palette-red-70: #c63a32;
  --palette-red-80: #99312e;
  --palette-red-90: #6b282b;
  --palette-red-100: #3e1f27;
  --palette-binance-primary: #fcc301;
  --palette-binance-black: #3d3d3d;
  --palette-moneycontrol-primary: #333;
  --palette-moneycontrol-blue: #0065a1;
  --palette-moneycontrol-lightblue: #e9f2f4;
  --palette-moneycontrol-lightgrey: #edeff1;
  --palette-moneycontrol-orange: #ef871d;
  --palette-moneycontrol-green: #66b049;
  --palette-moneycontrol-darkgreen: #328213;
  --palette-moneycontrol-grey: #474747;
  --palette-vendors-facebook: #4267b2;
  --palette-vendors-whatsapp: #6ee282;
  --palette-vendors-telegram: #37aee2;
  --palette-vendors-twitter: #03a9f4;
}

[data-theme="light"] {
  --color-primary: var(--palette-blue-main);
  --color-brand: var(--palette-blue-main);
  --color-primary-gradient: var(--palette-blue-70);
  --color-primary-30: var(--palette-blue-30);
  --color-important-component-bg: var(--palette-yellow-10);
  --color-important-component-text: var(--palette-yellow-100);
  --color-important-component-border: var(--palette-yellow-20);
  --color-white: var(--palette-white-main);
  --color-black: var(--palette-black-main);
  --color-green: var(--palette-green-60);
  --color-red: var(--palette-red-50);
  --color-yellow: var(--palette-yellow-main);
  --color-gray: var(--palette-gray-main);
  --color-orange: var(--palette-orange-main);
  --color-text-l0: var(--palette-gray-90);
  --color-text-l1: var(--palette-gray-70);
  --color-text-l2: var(--palette-gray-60);
  --color-text-l3: var(--palette-gray-50);
  --color-text-white: var(--palette-white-main);
  --color-text-highlight: var(--palette-yellow-main);
  --color-text-primary: var(--palette-blue-main);
  --color-text-link: var(--palette-blue-60);
  --color-text-link-hover: var(--palette-blue-70);
  --color-divider: var(--palette-black-alpha20);
  --color-shadow: var(--palette-black-alpha20);
  --color-grid: var(--palette-black-alpha10);
  --color-background-default: var(--palette-gray-20);
  --color-background-l0: var(--palette-white-main);
  --color-background-l1: var(--palette-gray-10);
  --color-background-l2: var(--palette-gray-30);
  --color-background-activated: var(--palette-gray-10);
  --color-background-selected: var(--palette-gray-20);
  --color-background-hover: var(--palette-blue-10);
  --color-background-input: var(--palette-white-main);
  --color-background-inputotp: var(--palette-gray-30);
  --color-background-modal: var(--palette-gray-alpha20);
  --color-background-hero: var(--palette-blue-20);
  --color-background-toggle: var(--palette-blue-30);
  --color-background-stepper: var(--palette-gray-20);
  --color-background-warning: var(--palette-yellow-alpha30);
  --color-background-success: var(--palette-green-alpha20);
  --color-background-danger: var(--palette-red-alpha20);
  --color-background-danger-icon-bg: var(--palette-red-10);
  --color-background-danger-icon-color: var(--palette-red-40);
  --color-background-info: var(--palette-blue-10);
  --color-scrollbar-background: var(--palette-gray-30);
  --color-scrollbar-thumb: var(--palette-gray-40);
  --color-binance-primary: var(--palette-binance-primary);
  --color-binance-black: var(--palette-binance-black);
  --color-moneycontrol-primary: var(--palette-moneycontrol-primary);
  --color-moneycontrol-blue: var(--palette-moneycontrol-blue);
  --color-moneycontrol-lightblue: var(--palette-moneycontrol-lightblue);
  --color-moneycontrol-lightgrey: var(--palette-moneycontrol-lightgrey);
  --color-moneycontrol-orange: var(--palette-moneycontrol-orange);
  --color-moneycontrol-green: var(--palette-moneycontrol-green);
  --color-moneycontrol-darkgreen: var(--palette-moneycontrol-darkgreen);
  --color-moneycontrol-grey: var(--palette-moneycontrol-grey);
  --color-moneycontrol-basemarket: var(--palette-moneycontrol-alpha50);
  --color-moneycontrol-header-background: var(--palette-white-main);
  --color-vendors-facebook: var(--palette-vendors-facebook);
  --color-vendors-whatsapp: var(--palette-vendors-whatsapp);
  --color-vendors-telegram: var(--palette-vendors-telegram);
  --color-vendors-twitter: var(--palette-vendors-twitter);
  --color-specialaccount-primary: var(--palette-gray-80);
  --color-header-border: var(--palette-black-alpha20);
  --color-header-signup-btn: var(--palette-yellow-main);
  --color-header-signup-btn-hover: var(--palette-yellow-70);
  --color-header-shadow: var(--palette-black-alpha20);
  --color-outer-header-background: var(--palette-white-main);
  --color-outer-header-text: var(--palette-gray-60);
  --color-inner-header-text: var(--palette-white-main);
  --color-inner-header-icon: var(--palette-white-alpha70);
  --color-inner-header-background: var(--palette-blue-main);
  --color-inner-header-btn-opened: var(--palette-black-alpha10);
  --color-inner-header-btn-selected: var(--palette-blue-80);
  --color-inner-header-btn-hover: var(--palette-black-alpha20);
  --color-inner-header-highlight-accent: var(--palette-yellow-30);
  --color-inner-header-popover: var(--palette-white-main);
  --color-footer-background: var(--palette-white-main);
  --color-table-row-hover: var(--palette-black-alpha05);
  --color-table-row-green-overlay: var(--palette-green-10);
  --color-table-row-red-overlay: var(--palette-red-10);
  --color-table-row-odd: var(--palette-gray-10);
  --color-table-row-even: var(--palette-white-main);
  --color-tradingView-background: var(--palette-white-main);
  --color-landing-hero-background: var(--palette-blue-main);
  --color-background-prev-tab: var(--palette-blue-30);
  --color-background-curr-tab: var(--palette-blue-60);
  --color-background-next-tab: var(--palette-gray-30);
  --color-background-overlay: var(--palette-gray-alpha40);
  --color-disabled-input-bg: var(--palette-gray-20);
  --color-disabled-input-border: var(--palette-gray-30);
  --color-icon-background: var(--palette-blue-30);
}

[data-theme="dark"] {
  --color-green: var(--palette-green-50);
  --color-red: var(--palette-red-50);
  --color-background-danger-icon-bg: var(--palette-red-100);
  --color-background-danger-icon-color: var(--palette-red-70);
  --color-important-component-bg: var(--palette-yellow-100);
  --color-important-component-border: var(--palette-yellow-90);
  --color-important-component-text: var(--palette-yellow-70);
  --color-text-l0: var(--palette-gray-10);
  --color-text-l1: var(--palette-gray-30);
  --color-text-l2: var(--palette-gray-50);
  --color-text-l3: var(--palette-gray-60);
  --color-text-white: var(--palette-white-main);
  --color-text-primary: var(--palette-white-main);
  --color-text-link: var(--palette-blue-50);
  --color-text-link-hover: var(--palette-blue-40);
  --color-divider: var(--palette-white-alpha10);
  --color-grid: var(--palette-white-alpha10);
  --color-background-default: var(--palette-gray-100);
  --color-background-l0: var(--palette-gray-90);
  --color-background-l1: var(--palette-gray-95);
  --color-background-l2: var(--palette-gray-100);
  --color-background-activated: var(--palette-gray-80);
  --color-background-selected: var(--palette-gray-70);
  --color-background-hover: var(--palette-blue-100);
  --color-background-input: var(--palette-gray-80);
  --color-background-inputotp: var(--palette-gray-80);
  --color-background-modal: var(--palette-gray-alpha90);
  --color-background-hero: var(--palette-gray-90);
  --color-background-toggle: var(--palette-blue-80);
  --color-background-info: var(--palette-blue-100);
  --color-background-stepper: var(--palette-gray-80);
  --color-scrollbar-background: var(--palette-gray-80);
  --color-scrollbar-thumb: var(--palette-gray-50);
  --color-header-border: var(--palette-black-alpha20);
  --color-header-signup-btn: var(--palette-yellow-main);
  --color-header-signup-btn-hover: var(--palette-yellow-70);
  --color-table-row-red-overlay: var(--palette-red-100);
  --color-table-row-green-overlay: var(--palette-green-100);
  --color-outer-header-background: var(--palette-gray-80);
  --color-outer-header-text: var(--palette-gray-50);
  --color-inner-header-text: var(--palette-white-main);
  --color-inner-header-icon: var(--palette-white-alpha70);
  --color-inner-header-background: var(--palette-gray-80);
  --color-inner-header-btn-opened: var(--palette-white-alpha10);
  --color-inner-header-btn-selected: var(--palette-gray-100);
  --color-inner-header-btn-hover: var(--palette-white-alpha20);
  --color-inner-header-highlight-accent: var(--palette-yellow-30);
  --color-inner-header-popover: var(--palette-gray-80);
  --color-footer-background: var(--palette-gray-95);
  --color-table-row-hover: var(--palette-white-alpha10);
  --color-table-row-odd: var(--palette-gray-90);
  --color-table-row-even: var(--palette-gray-95);
  --color-tradingView-background: var(--palette-gray-90);
  --color-landing-hero-background: var(--palette-gray-90);
  --color-moneycontrol-primary: var(--palette-white-main);
  --color-moneycontrol-header-background: var(--palette-gray-80);
  --color-moneycontrol-lightblue: var(--palette-gray-80);
  --color-disabled-input-bg: var(--palette-gray-80);
  --color-disabled-input-border: var(--palette-gray-80);
  --color-background-prev-tab: var(--palette-gray-70);
  --color-background-curr-tab: var(--palette-blue-50);
  --color-background-next-tab: var(--palette-gray-80);
}
