@import url("./antd-overrides.css");
@import url("./colors.css");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: var(--color-text-l0);
  line-height: 1.5714285714285714;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--color-background-default);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 1rem;
}

form div.ant-form-item-explain .ant-form-item-explain-error:not(:first-child) {
  display: none;
}

.scroll::-webkit-scrollbar {
  width: 3px;
  background-color: #2d3446;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #abb1bf;
}

.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid #777;
  background: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
  .inputStyle {
    width: 1.5rem !important;
    height: 1.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid;
    background: transparent;
  }
}
