@import url("./colors.css");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: var(--color-text-l0);
  line-height: 1.5714285714285714;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--color-background-default);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
}

form div.ant-form-item-explain .ant-form-item-explain-error:not(:first-child) {
  display: none;
}

.scroll::-webkit-scrollbar {
  width: 3px;
  background-color: #2d3446;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #abb1bf;
}
